<div id="<%= dom_id episode %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= episode.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Audio:</strong>
    <%= audio_tag episode.audio, controls: true, autoplay: false %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= episode.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Published at:</strong>
    <%= episode.published_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Explicit:</strong>
    <%= episode.explicit %>
  </p>

</div>
