<div id="<%= dom_id episode %>">
  <p>
    <strong>Title:</strong>
    <%= episode.title %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= episode.published_at %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= episode.description %>
  </p>

  <p>
    <strong>Explicit:</strong>
    <%= episode.explicit %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= episode.duration %>
  </p>

</div>
